.card {
    display: flex;
    flex-direction: column;
    height: 327px;
    width: 100%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.chartContainer {
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 250px;
    margin-top: 1rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {
    text-align: center;
    transform: translateY(-5rem);
    font-size: 1rem;
}

.button {
    transform: translateY(-4rem);
}

.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.875rem;
    transform: translateY(-1rem);
}

.navButton {
    background-color: transparent;
    width: 2rem;
    padding: 0;
}

.navButton:hover {
    background-color: rgba(238, 242, 241, 0.6);
}

.navText {
    font-size: 1rem;
    color: #333736;
}

@media (max-width: 1700px) {
    .cardFooter {
        transform: translateY(-2.25rem);
    }
}

@media (max-width: 1565px) {
    .cardFooter {
        transform: translateY(-2rem);
    }
}

@media (max-width: 1534px) {
    .title {
        font-size: 1.25rem;
    }

    .button {
        width: 8rem;
        font-size: 1.15rem;
    }

    .cardFooter {
        transform: translateY(-1.5rem);
    }

    .navText {
        font-size: 1.15rem;
    }
}
@media (max-width: 1224px) {
    .cardFooter {
        transform: translateY(-3rem);
    }
    .button {
        transform: translateY(-4.75rem);
    }
}
@media (max-width: 1024px) {
    .cardFooter {
        transform: translateY(-1.5rem);
    }
}
@media (max-width: 936px) {
    .cardFooter {
        transform: translateY(-3rem);
    }
}
@media (max-width: 768px) {
    .card {
        height: 220px;
    }

    .cardContent {
        flex-direction: row;
    }

    .title {
        transform: translateY(-3rem);
        font-size: 1.1rem;
    }

    .button {
        transform: translateY(-2rem);
        width: 6rem;
        font-size: 1rem;
    }

    .cardFooter {
        transform: translateY(-4rem);
    }

    .navText {
        font-size: 1rem;
    }
}

@media (max-width: 640px) {
    .card {
        height: 300px;
    }

    .cardContent {
        flex-direction: column;
    }

    .title {
        transform: translateY(-6rem);
    }

    .button {
        transform: translateY(-5.5rem);
    }
    .cardFooter {
        transform: translateY(-2.5rem);
    }
}
@media (max-width: 439px) {
    .cardFooter {
        transform: translateY(-4rem);
    }
}

@media (max-width: 335px) {

    .cardFooter {
        transform: translateY(-3.5rem);
    }
}

@media (max-width: 320px) {

    .cardFooter {
        transform: translateY(-2.5rem);
    }
}