@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 165 2% 100%;
  --foreground: 165 7% 22%;
  --primary: 213 95% 47%;
  --primary-foreground: 165 2% 100%;
  --card: 165 2% 100%;
  --card-foreground: 165 7% 22%;

  --border: 260 7% 16% / 0.3;
  --chart-grid: 214.3 31.8% 91.4%;

  --radius: 1rem;
  --popover: 165 2% 100%;
  --popover-foreground: 165 7% 22%;

  --input: 260 7% 16% / 0.3;

  --secondary: 165 2% 100%;
  --secondary-foreground: 165 7% 22%;
  --secondary-border: var(--border);
  --secondary-border-hover: 260 7% 16% / 0.5;

  --chart-1: 214 32% 91%;
  --chart-2: 213 95% 47%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: 222.2 84% 4.9%;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #E2E8F0;
  border-radius: 20px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #B4B6B8;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgb(180, 182, 184, 0.8);
}

.select-item-hover:hover {
  background-color: rgba(238,242,241,0.6);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

